.navigation
  &__btn
    @include btnBase
    background: none
    border: none
    &:hover
      color: adjust-color($teal, $lightness: 10%)

.btn
  padding: calc(.5rem + 1px)
  @include icon-btn
  &__brd-light:hover
    border: 1px solid rgba($light, .5)
  &:hover
    padding: .5rem

  &__wrapper
    transform: skew(12deg)

  &__action
    text-transform: uppercase
    transform: skew(-12deg)
    box-shadow: 0 0 20px #eee
    @include btnBase

  &__submit
    background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%)

  &__cancel
    background-image: linear-gradient(to right, $red 0%, #1F1C18  51%, $red  100%)
