.card
  border-radius: 15px;
  overflow: hidden;
  margin: 2rem;
  &__header
    background-color: $primary;
    color: $light;
    padding: .5rem 1rem;
  &__body
    background-color: $light;
    color: $secondary;
