.filters
  margin: 2rem 3rem;

  &__search
    @include inputBar;
    width: 100%;

  &__input-container
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 185rem;
    height: 3.5rem;

  &__label-icon
    position: absolute;
    top: 6px;
    left: 60px;
