.checkbox-wrapper-57 input[type="checkbox"]
  visibility: hidden;
  display: none;

.checkbox-wrapper-57 *,
.checkbox-wrapper-57 ::after,
.checkbox-wrapper-57 ::before
  box-sizing: border-box;

.checkbox-wrapper-57 .checkbox-container
  display: flex;
  gap: 1.2rem;
  color: $light;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;

/* Create a custom checkbox */
.checkbox-wrapper-57 .checkmark
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: $light;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 1rem;

.checkbox-wrapper-57 .checkbox-container input:checked ~ .checkmark
  background: $light;
  box-shadow: -5px -5px var(--spread) 0px #5B51D8, 0 -5px var(--spread) 0px #833AB4, 5px -5px var(--spread) 0px #E1306C, 5px 0 var(--spread) 0px #FD1D1D, 5px 5px var(--spread) 0px #F77737, 0 5px var(--spread) 0px #FCAF45, -5px 5px var(--spread) 0px #FFDC80;

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-wrapper-57 .checkmark::after
  content: "";
  position: absolute;
  display: none;

/* Show the checkmark when checked */
.checkbox-wrapper-57 .checkbox-container input:checked ~ .checkmark::after
  display: block;

/* Style the checkmark/indicator */
.checkbox-wrapper-57 .checkbox-container .checkmark::after
  left: 0.5em;
  top: 0.34em;
  width: 0.25em;
  height: 0.5em;
  border: solid $primary;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);

.checkbox-wrapper-57
  padding: 1rem 1.5rem;

.form
  max-height: calc(100vh - 7.6rem);
  overflow-y: clip;
  &__all
    margin-left: .5rem;
  &__subcollection
    margin-left: 2.5rem;

  &__control
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__label
      font-size: 1.7rem;
      padding: 0 1rem;

    &__inputText
      @include inputBar;

    &__textarea
      @include inputBar;
      border-radius: 15px 15px 5px 15px;
      height: 8rem;


