.navigation
  &__container
    width: 98.9vw;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgba($teal, .5);
    background-image: linear-gradient(to bottom right, $teal, $blendTealPrimary, $primary, $blendPrimarySecondary, $secondary, $blendSecondaryLight, $light);
    background-blend-mode: multiply;

  &__logo-box


  &__logo-image
    background-image: url('../../assets/images/pinterest_board_photo.png');
    width: 5rem;
    height: 5rem;
    background-size: 100%;
    border: 1px solid $secondary;
    border-radius: 15px;
    box-shadow: 3px 5px 10px $primary;
    transition: transform .3s;
    &:hover
      transform: scale(1.1);

  &__nav

  &__list
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

  &__item
    color: $light;
    font-size: 1.8rem;


