.flex-container
  display: flex
  justify-content: space-around


.justify-between
  display: flex
  justify-content: space-between
  align-items: center

.d-flex
  display: flex!important
  gap: 1rem

.container
  padding: 1.4rem 6rem
  height: 76vh

.px-1
  padding: 0 .5rem

.py-1
  padding: 2rem 0!important

.p-2
  padding: 2rem

.text-size-1-6
  font-size: 1.6rem

.red-crossedout
  color: $red
  text-decoration: line-through
.green
  color: $green

.gap
  gap: 7rem;
