.flex-container
  display: flex;
  justify-content: space-around;


.justify-between
  display: flex;
  justify-content: space-between;

.d-flex
  display: flex!important;
  gap: 1rem;

.container
  padding: 6rem;
