.flex-container
  display: flex
  justify-content: space-around
  gap: 2rem


.justify-between
  display: flex
  justify-content: space-between
  align-items: center

.d-flex
  display: flex!important
  gap: 1rem

.container
  padding: 6rem
  height: 76vh

.px-1
  padding: 0 .5rem
